*
{
    margin: 0%;
}
.baseDiv{
   display: flex;
   gap: 40px;
   flex-wrap: wrap;
   justify-content: center;
    
}

.box1{
    display: grid;
    grid-template-columns: repeat(4,100px) ;
    grid-template-rows: repeat(4,100px);
    column-gap: 5px;
    row-gap: 5px;
    margin-top: 37px;

}
.item1{
    background-color: palevioletred;
}
.item2{
    background-color: palevioletred;
}

.item3{
    background-color: palevioletred;
}

.item4{
    background-color: palevioletred;
}

.item5{
    background-color: palevioletred;
}
.item6{
    background-color: palevioletred;
}

.item7{
    background-color: palevioletred;
}

.item8{
    background-color: palevioletred;
}


.item9{
    background-color: palevioletred;
}
.item10{
    background-color: palevioletred;
}

.item11{
    background-color: palevioletred;
}

.item12{
    background-color: palevioletred;
}

.item13{
    background-color: palevioletred;
}
.item14{
    background-color: palevioletred;
}

.item15{
    background-color: palevioletred;
}

.item16{
    background-color: palevioletred;
}







.box2{
    margin-top: 40px;

    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(4,100px);
    column-gap: 5px;
    row-gap: 5px;
}
.itemm1{
    background-color: blueviolet;
}
.itemm2{
    background-color: blueviolet;
}
.itemm3{
    background-color: blueviolet;
}
.itemm4{
    background-color: blueviolet;
}


.itemm5{
    background-color: blueviolet;
}
.itemm6{
    background-color: blueviolet;
}
.itemm7{
    background-color: blueviolet;
}
.itemm8{
    background-color: blueviolet;
   grid-row-start: 2;
   grid-row-end:4 ;
   grid-column: 4;
}


.itemm9{
    background-color: blueviolet;
}
.itemm10{
    background-color: blueviolet;
}
.itemm11{
    background-color: blueviolet;
}


.itemm12{
    background-color: blueviolet;
    grid-row:4 ;
    grid-column-start: 1 ;
    grid-column-end: 3;
}
.itemm13{
    background-color: blueviolet;
}
.itemm14{
    background-color: blueviolet;
}



.box3{
    margin-top: 40px;

    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(4,100px);
    column-gap: 5px;
    row-gap: 5px;
}

.itemmm1{
    background-color: darkolivegreen;
}


.itemmm2{
    background-color: darkolivegreen;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    
}

.itemmm4{
    background-color: darkolivegreen;
    grid-row: 1;
    grid-row-end: 3;
    grid-column: 4;
}
.itemmm5{
    background-color: darkolivegreen;
}
.itemmm6{
    background-color: darkolivegreen;
}
.itemmm7{
    background-color: darkolivegreen;
}

.itemmm8{
    background-color: darkolivegreen;
}
.itemmm9{
    background-color: darkolivegreen;
}
.itemmm10{
    background-color: darkolivegreen;
}
.itemmm11{
    background-color: darkolivegreen;
}
.itemmm12{
    background-color: darkolivegreen;
    grid-row-start: 4;
    grid-column-start:1 ;
    grid-column-end:3 ;
}
.itemmm13{
    background-color: darkolivegreen;
}
.itemmm14{
    background-color: darkolivegreen;
}

.box4{
    margin-top: 40px;

    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(4,100px);
    column-gap: 5px;
    row-gap: 5px;
}
.ov1{
    background-color: rgb(111, 135, 71);
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 45px;
}
.ov2{
     background-color: rgb(153, 172, 122);
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 45px;
}
.ov3{
    background-color: rgb(153, 172, 122) ;
     border-radius: 40px;
}
.ov4{
    background-color: rgb(111, 135, 71);
     border-radius: 40px;
}

.ov5{
    background-color: rgb(153, 172, 122) ;
     border-radius: 40px;
}
.ov6{
    background-color: rgb(111, 135, 71);
     border-radius: 40px;
}
.ov7{
    background-color: rgb(153, 172, 122) ;
     border-radius: 40px;
}
.ov8{
    background-color: rgb(111, 135, 71);
     border-radius: 40px;
}
.ov9{
    background-color: rgb(111, 135, 71);
     border-radius: 80px;
     grid-row-start: 3;
     grid-row-end: 5;
     grid-column-start: 3;
     grid-column-end: 5;
}


.ov10{
    background-color: rgb(111, 135, 71);
     border-radius: 40px;
}
.ov11{
    background-color: rgb(153, 172, 122) ;
     border-radius: 40px;
}


.box5{
    margin-top: 40px;

    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(4,100px);
    column-gap: 5px;
    row-gap: 5px;
}
.bwn1{
    background-color: rgb(93, 1, 1);
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
.bwn2{
        background-color: rgb(93, 1, 1);
        grid-row-start: 1;
        grid-column-start: 3;
        grid-column-end: 5;
}
.bwn3{
    background-color:rgb(93, 1, 1) ;
}
.bwn4{
    background-color:rgb(93, 1, 1) ;
}
.bwn5{
    background-color:rgb(93, 1, 1) ;
}
.bwn6{
        background-color: rgb(93, 1, 1);
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 4;
}


.bwn7{
    background-color:rgb(93, 1, 1) ;
}
.bwn8{
    background-color:rgb(93, 1, 1) ;
}
.bwn9{
    background-color:rgb(93, 1, 1) ;
}


.box6{
    margin-top: 40px;

    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(4,100px);
    column-gap: 5px;
    row-gap: 5px;
}
.gre1{
     background-color: rgb(57, 155, 57);
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.gre2{
     background-color: rgb(57, 155, 57);
      border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.gre3{
     background-color: rgb(57, 155, 57);
      border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.gre4{
     background-color: rgb(57, 155, 57);
      border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.gre5{
     background-color: rgb(57, 155, 57);
      border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    grid-row-start: 2;
    
    grid-row-end: 4;
    grid-column: 4;
}


.gre6{
     background-color: rgb(57, 155, 57);
      border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.gre7{
     background-color: rgb(57, 155, 57);
      border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.gre8{
     background-color: rgb(57, 155, 57);
      border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.gre9{
     background-color: rgb(57, 155, 57);
      border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}
.gre10{
     background-color: rgb(57, 155, 57);
      border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.gre11{
     background-color: rgb(57, 155, 57);
      border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.box7{
    margin-top: 40px;

    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(4,100px);
    column-gap: 5px;
    row-gap: 5px;
}
.light1{
    background-color: aquamarine;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
.light2{
    background-color: aquamarine;
}
.light3{
    background-color: aquamarine;
}
.light4{
    background-color: aquamarine;
}
.light5{
    background-color: aquamarine;
}
.light6{
    background-color: aquamarine;
}
.light7{
    background-color: aquamarine;
}
.light8{
    background-color: aquamarine;
}
.light9{
    background-color: aquamarine;
}
.light10{
    background-color: aquamarine;
}
.light11{
    background-color: aquamarine;
}
.light12{
    background-color: aquamarine;
}
.light13{
    background-color: aquamarine;
}
.box8{
    margin-top: 40px;

    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(4,100px);
    column-gap: 5px;
    row-gap: 5px;
}
.vio1{
    background-color: rgb(172, 112, 229);
}
.vio2{
    background-color: rgb(172, 112, 229);
}
.vio3{
    background-color: rgb(172, 112, 229);
}
.vio4{
    background-color: rgb(172, 112, 229);
}

.vio5{
    background-color: rgb(172, 112, 229);
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}
.vio6{
    background-color: rgb(172, 112, 229);
}
.vio7{
    background-color: rgb(172, 112, 229);
}
.vio8{
    background-color: rgb(172, 112, 229);
}
.vio9{
    background-color: rgb(172, 112, 229);
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column: 4;
}

.vio10{
    background-color: rgb(172, 112, 229);
}
.vio11{
    background-color: rgb(172, 112, 229);
}
.vio12{
    background-color: rgb(172, 112, 229);
}


.box9{
    margin-top: 40px;

    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(4,100px);
    column-gap: 5px;
    row-gap: 5px;
}
.or1{
    background-color: palevioletred;
    border-radius: 10px;

}
.or2{
    background-color: palevioletred;
     border-radius: 10px;
}
.or3{
    background-color: palevioletred;
     border-radius: 10px;
}
.or4{
    background-color: palevioletred;
     border-radius: 10px;
}

.or5{
    background-color: palevioletred;
 border-radius: 10px;
}
.or6{
    background-color: palevioletred;
     border-radius: 10px;
}
.or7{
    background-color: palevioletred;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 3;
     border-radius: 10px;
}
.or8{
    background-color: palevioletred;
     border-radius: 10px;
}

.or9{
    background-color: palevioletred;
     border-radius: 10px;
}

.or10{
    background-color: palevioletred;
 border-radius: 10px;
}
.or11{
    background-color: palevioletred;
     border-radius: 10px;
}

.or12{
    background-color: palevioletred;
     border-radius: 10px;
}

.or13{
    background-color: palevioletred;
 border-radius: 10px;
 grid-row-start: 4;
 grid-column-start: 2;
 grid-column-end: 4;
}
.or14{
    background-color: palevioletred;
     border-radius: 10px;
}

