*
{
    margin: 0%;
}
.baseDiv{
   display: flex;
   gap: 30px;
    
}

.box1{
    display: grid;
    grid-template-columns: repeat(4,100px) ;
    grid-template-rows: repeat(4,100px);
    column-gap: 5px;
    row-gap: 5px;
    margin-top: 37px;

}
.item1{
    background-color: palevioletred;
}
.item2{
    background-color: palevioletred;
}

.item3{
    background-color: palevioletred;
}

.item4{
    background-color: palevioletred;
}

.item5{
    background-color: palevioletred;
}
.item6{
    background-color: palevioletred;
}

.item7{
    background-color: palevioletred;
}

.item8{
    background-color: palevioletred;
}


.item9{
    background-color: palevioletred;
}
.item10{
    background-color: palevioletred;
}

.item11{
    background-color: palevioletred;
}

.item12{
    background-color: palevioletred;
}

.item13{
    background-color: palevioletred;
}
.item14{
    background-color: palevioletred;
}

.item15{
    background-color: palevioletred;
}

.item16{
    background-color: palevioletred;
}







.box2{
    margin-top: 40px;

    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(4,100px);
    column-gap: 5px;
    row-gap: 5px;
}
.itemm1{
    background-color: blueviolet;
}
.itemm2{
    background-color: blueviolet;
}
.itemm3{
    background-color: blueviolet;
}
.itemm4{
    background-color: blueviolet;
}


.itemm5{
    background-color: blueviolet;
}
.itemm6{
    background-color: blueviolet;
}
.itemm7{
    background-color: blueviolet;
}
.itemm8{
    background-color: blueviolet;
   grid-row-start: 2;
   grid-row-end:4 ;
   grid-column: 4;
}


.itemm9{
    background-color: blueviolet;
}
.itemm10{
    background-color: blueviolet;
}
.itemm11{
    background-color: blueviolet;
}


.itemm12{
    background-color: blueviolet;
    grid-row:4 ;
    grid-column-start: 1 ;
    grid-column-end: 3;
}
.itemm13{
    background-color: blueviolet;
}
.itemm14{
    background-color: blueviolet;
}



.box3{
    margin-top: 40px;

    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(4,100px);
    column-gap: 5px;
    row-gap: 5px;
}

.itemmm1{
    background-color: darkolivegreen;
}


.itemmm2{
    background-color: darkolivegreen;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    
}

.itemmm4{
    background-color: darkolivegreen;
    grid-row: 1;
    grid-row-end: 3;
    grid-column: 4;
}
.itemmm5{
    background-color: darkolivegreen;
}
.itemmm6{
    background-color: darkolivegreen;
}
.itemmm7{
    background-color: darkolivegreen;
}

.itemmm8{
    background-color: darkolivegreen;
}
.itemmm9{
    background-color: darkolivegreen;
}
.itemmm10{
    background-color: darkolivegreen;
}
.itemmm11{
    background-color: darkolivegreen;
}
.itemmm12{
    background-color: darkolivegreen;
    grid-row-start: 4;
    grid-column-start:1 ;
    grid-column-end:3 ;
}
.itemmm13{
    background-color: darkolivegreen;
}
.itemmm14{
    background-color: darkolivegreen;
}